GF_DATABASE_TYPE = postgres
GF_DATABASE_NAME = main_db
GF_DATABASE_USER = postgres
GF_DATABASE_PASSWORD = postgres
GF_DATABASE_HOST = web_db:5432
GF_SECURITY_ADMIN_USER = admin
GF_SECURITY_ADMIN_PASSWORD = admin