BIND_PORT=8000
BIND_IP=0.0.0.0


DB_URL=postgresql+asyncpg://postgres:postgres@web_db:5432/main_db
SECRET_KEY=asdasdasdasdasdasd
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

REDIS_SIRIUS_CACHE_PREFIX=sirius